.jointour {
    display: flex;
}
form {
    transition: all 0.5s;
    margin: auto;
    border-radius: 50px;
    width: 20;
   align-self: center;
}
fieldset {
    border: 5px solid white;
    border-radius: 50px;
    white-space: pre-line;
    align-items: center; 
        margin: auto;

}
legend {
    text-align: center;
    color: #f7fbff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    filter: drop-shadow(5px 5px 5px #222);
    font-size: 40px;
}
.input_form {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
label {
    font-size: 30px;
    color: #b5d6f5;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.9));
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    text-align: center;
    font-weight: bold;
    width: 100px;
    
}
:required {
    font-size: 20px;
    margin: 20px;
    border: 5px solid #f7fbff;
    border-radius: 50px;
    flex: 1;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.9));
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#kosher {
    margin: 20px;
    border: 5px solid #f7fbff;
    border-radius: 50px;
    flex: 1;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.9));
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
}
#AudienceCode {
    margin: 20px;
    border: 5px solid #f7fbff;
    border-radius: 50px;
    flex: 1;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.9));
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 20px;
}
#quantity {
    margin: 20px;
    border: 5px solid #f7fbff;
    border-radius: 50px;
    margin-left: auto;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.9));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
}
.image {
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: flex-end;
    padding: 50px;
    margin-left: -100px;
}
.image > img {
    width: 70%;
    border-width: 5px;
    border-style: groove; 
    justify-content: flex-end;
    align-self: center;
}
.desc {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 30px;   
}
label[for="textarea"]
{
    font-size: 30px;
    color: #b5d6f5;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.9));
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    white-space: nowrap;
    padding: 20px;
    align-self: center;
}
textarea {
    font-size: 15px;
    padding: 30px;
    border: 5px solid #f7fbff;
    border-radius: 50px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.9));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    text-align: center;
    height: 200px;
    width: 600px;
    resize: none;
    margin: auto;
}
.error {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    text-align: center;
    margin-top: 50px;
    width: 300px;
    padding: 20px;
    font-weight: bold;
    font-size: 15px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.9));
    background-color: #f44336;
    color: white;
    border-radius: 50px 25px;
}
.action {
    display: flex;
    justify-content: center;
}
.button {
    font-size: 25px;
    background-color: cornflowerblue;
    border: 0;
    color: #f7fbff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-weight: bold;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    padding: 12px 20px;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
}
.button:hover {
    box-shadow: 0px 15px 20px rgb(24, 255, 249);
}
span {
    padding: 10px;
    color: #4caf50;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
      align-items: center;
      align-self: center;
    border-radius: 50px 25px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.9));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
      white-space: nowrap;

}
.total {
    padding: 10px;
    color: #4caf50;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50px 25px;
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.9));
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}